.main{
    background-color: #140152;
    height: 85vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
/* configuração do fundo do retangulo da direita (área de código) */
.area_de_codigo{
    height: 82vh;
    width: 50vw;
    background-color: #000;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* configuração do titulo da área de código */
.header_area_de_codigo{
    height: 25%;
    display: flex;
    flex-direction: row;
    gap: 5vw;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 1rem;
}
.area_vizualiacao_bandeira{
    display: flex;
    justify-content: center;
    background-color: white;
    height: 15vh;
    width: 15vw;
    border-radius: 2%;
    transition: 0.5s;
}
.area_vizualiacao_bandeira:hover{
    transform: scale(1.1);
}
/* configuração da area de digitação do código  */

.area_digitacao_codigo{
    height: 55vh;
    width: 45vw;
    padding: 30px 50px;
    border-radius: 2%;
    opacity: 60%;
    background-color: #22007C;
}

.area_escrita {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.background_texto {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 3rem;
}

.faixa {
    resize: none;
    background: none;
    font-size: 2rem;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-transform: uppercase;
}

.area_esquerda,
.area_meio,
.area_direita {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1.5rem;
    
}


/* configuração da area do produto do código (resultado final da bandeira)  */
.area_produto_do_codigo{
    height: 60vh;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #22007C;  
    /* opacity: 70%; */
    border: 3px solid #0b0129;
    border-radius: 50%;
    transition: 0.5s;
}
.area_produto_do_codigo:hover{
    transform: scale(1.1);
}
.bandeira_final{
    display: flex;
    width: 20vw;
    height: 25vh;
    background-color: white;
    border-radius: 2%;
}

.linha_esquerda,
.linha_meio,
.linha_direita {
    border-radius: 2%;
    flex-grow: 1;
}

.linha_esquerda {
    background-color: blue;
}

.linha_meio {
    background-color: white;
}

.linha_direita {
    background-color: red;
}

.bandeira_linha_esquerda,
.bandeira_linha_meio,
.bandeira_linha_direita {
    border-radius: 2%;
    flex-grow: 1;
}

/* Configuração do botão de validação*/

.botao_validacao{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: greenyellow;
    height: 4vh;
    width: 7vw;
    border-radius: 5%;
}

/* configuração da posição do botão, a div a baixo foi utilizada para posicionar o botão, evitando o uso de padding ou margin.*/
.area_botao_validacao{   
    width: 45vw;
    height: 6vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

/* MODAL */
.modal {
    color: white;
    font-size: 1.5rem;
    position: fixed;
    z-index: 999;
    padding-top: 20%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5.2rem;
    background-color: #22007C;
    margin: auto;
    width: 30%;
    height: 40%;
}

.close {
    cursor: pointer;
    font-size: 6rem;
    font-weight: normal;
}

#modal_result_correct {
    display: none;
}

.next_level {
    color: white;
}

#modal_result_incorrect {
    display: none;
}